/*general styles*/


/*header*/
header {
text-align: center;

header h1{
    margin:0;
    background-color: #f08080;  
}

header nav {
    display:flex;
    justify-content:center
}

section#home.about.instructor {
    text-align: center;
    color:#0000ff; }


section#classes table {
    margin:0 auto;
}
section#classes th,
section#classes td {
border: 1px solid #0000ff

}

section#feedback.feedback-form  {
    display:flex;
    flex-direction:column;
    align-items:center;}

section#feedback.feedback-form input,
section#feedback.feedback-form textarea  {
    width:300px;
    border: 1px solid #00ff00;}

section#contact form {
  display:flex;
  flex-direction:column;
  align-items:center;}

section#contact form input,
section#contact form textarea {
    width:300px;
    border:1px solid #ffa500;}

footer {
    text-align:center;
    background-color: #ffff00;}

.social.media {
    display:flex;
    justify-content:center;}
    







    


    