@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: sans-serif;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px;
    display: none;
    top: 100%;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

section#home.about.instructor {
    text-align: center;
    color: #0000ff;
    display: flex;
    justify-content: center;
}

section#classes table {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

section#classes th,
section#classes td {
    border: #0000ff solid 1px;
    background-color: #f08080;
}

section#feedback.feedback-form {
    display: flex;
    flex-direction: column;
    background-color: #f08080;
}

section#feedback.feedback-form input,
section#feedback.feedback-form textarea {
    width: 300px;
    border: #00ff00 solid 1px;
    display: flex;
    justify-content: center;
}

section#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#contact form input,
section#contact form textarea {
    width: 300px;
    border: #ffa500 solid 1px;
}

footer {
    text-align: center;
    background-color: #ffff00;
}

.social.media {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}